body {
    font-family: 'Nanum Gothic', sans-serif;
}

.header {
    display: flex;
    margin-top:31px;
    margin-bottom: 31px;
}

#logo {
    margin-left: 5cm;
}

#nav, .stapick {
    display:flex;
    list-style: none;
}

#search {
    margin-left:3cm;
}

#login {
    margin-left:0.5cm;
}

a {
    font-size: 16px;
    color: #000000;
    text-decoration:none;
    margin-left: 1.5cm;
    margin-right: 1.5cm;
}

#nav > li > a {
    font-weight: 600;
}

p0 {
    border-style:solid;
    border-color: #f1eeee;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.banner {
    background-color: #243668;
    background-image: url(../image/banner\ character.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 10cm;
    height: 450px;
    width: auto;
    padding-left: 8cm;
}

#textbox {
    margin-left:3cm;
}

#textbox h1 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    margin-top: 130px;
}

#textbox > h2 {
    color: #ffffff;
    font-size: 20px;
    line-height: 130%;
    font-weight: 400;
}

#ban2 {
    background-image: url(../image/BgStaffPickInner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    background-position: center;
    padding: 1cm 8cm;
    
}

#hset {
    line-height: 130%;
}

#hset h1 {
    font-size: 30px;
}

#hset > a {
    display: block;
    text-align: right;
    color: white;
    
}

#ban2 h1 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

#ban2 h2 {
    text-align:center;
    font-size: 15px;
}

#ban3, #ban4 {
    padding: 1cm 8cm;
    height:400px;
}

#ban3 > h1, #ban4 h1 {
    margin-top: 0.5cm;
    font-weight: 600;
    font-size: 25px;
}

.stapick > li {
    margin:auto;
    list-style: none;
    display: flex;
}


.cardbox > img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 150px;
    width: 250px;
    margin-top: 1cm;
    margin-right: 8px;
}

.titlebox {
    height: 80px;
    width: 230px;
    padding: 10px 10px;
    background-color: rgba(228, 228, 228, 0.746);
    margin-right:8px;
}

.titlebox > h6 {
    margin-left: 5px;
    font-weight: 600;
}

.interestbox {
    height: 20px;
    width: 230px;
    padding: 10px 10px;
    background-color: rgba(228, 228, 228, 0.746);
    margin-right:8px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.profile > img {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-top: 15px;
    margin-left: 5px;
}

#colorbox {
    background-color: #F7CAC1;
    border-radius: 20px;
    height: 300px;
    width: 250px;
    text-align: center;
    margin-top: 10px;
}

#colorbox > h1, h2 {
    color: white;
    line-height: 160%;
}

#ban4 {
    background-color: #D8F0F5;
    width: auto;
    height: 400px;
}

#ban5 {
    padding: 50px;
    height: 400px;
    width: 100%;
}


#left {
    float: left;
}

#right {
    display: block;
    float: right;
}

#left > img {
    border-radius: 20px;
    height: 365px;
    width: 522px;
}

#right > ul > li > img {
    border-radius: 20px;
    height: 110px;
    width: 194px;
}

#explain {
    display: inline;
}

.type {
    display: flex;
}

.type > image {
    border-radius: 20px;

}

#ban6 {
    margin: 50px;
    height: 400px;
    width: 100%;
}

#various > li > .stapick > img {
    border-radius: 20px;
    margin-left: 20px;
}