body {
    font-family: 'Nanum Gothic', sans-serif;
}

.header {
    display: flex;
    margin-top:31px;
    margin-bottom: 31px;
}

#logo {
    margin-left: 5cm;
}

ul {
    display:flex;
    list-style: none;
}

#search {
    margin-left:3cm;
}

#login {
    margin-left:0.5cm;
}

a {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    margin-left: 1.5cm;
    margin-right: 1.5cm;
    text-decoration:none;
}

p0 {
    border-style:solid;
    border-color: #f1eeee;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.banner {
    background-color: #243668;
    background-image: url(../image/banner\ character.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 10cm;
    height: 450px;
    width: auto;
    padding-left: 8cm;
}

#textbox {
    margin-left:3cm;
}

#textbox h1 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    margin-top: 130px;
}

h2 {
    color: #ffffff;
    font-size: 20px;
    line-height: 130%;
    font-weight: 400;
}

.ban2 {
    background-image: url(../image/BgStaffPickInner.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    background-position: center;
}

#hset {
    line-height: 130%;
}

#hset h1 {
    font-size: 30px;
}

.ban2 h1 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.ban2 h2 {
    text-align:center;
    font-size: 15px;
}

  
.stapick > img {
    border-radius: 20px;
    height: 150px;
    width: 250px;
    margin-right: 0.2cm;
    margin-top: 1cm;
}